* { padding: 0; margin: 0; }

a {
    color: black
}
h1 h2 {
    font-family: 'Roboto Condensed', sans-serif;
}

h1 {

    font-size: 2.6em;
}

h2 {
    font-size: 2.4em;
}

.front-page-cell {
    border-width: 1px;
    border-color: rgba(0, 0, 0, 0.25);
    border-style: solid;
}